{% load static %}
<html>
  <body>
    {% block includes %}
    <script type="text/javascript" src="{% static 'js/jquery-2.1.1.js' %}" ></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui-1.10.4.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/plugins/elfinder/css/elfinder.min.css' %}">
    <script type="text/javascript" src="{% static 'js/plugins/elfinder/elfinder.full.js' %}"></script>
    {% endblock includes %}

    {% block elfinder_init %}
    <script type="text/javascript" charset="utf-8">
        $().ready(function() {
        var elf = $('#elfinder').elfinder({
            url : '{% url 'filemanager:model-volume-connector' coll_id=coll_id %}',
            places : 'h',
            rememberLastDir : false,
            placesFirst : false,
            requestType: 'get',
            customData : {csrfmiddlewaretoken : '{{ csrf_token }}'},
            uiOptions : {toolbar: [
                            ['back', 'forward'],
                            ['mkdir', 'mkfile'],
                            ['copy', 'cut', 'paste'],
                            ['rm'],
                            ['rename'],
                            ['view']
                           ]
                        },
            contextmenu : {navbar : ['open', '|', 'copy', 'cut', 'paste', '|',
                                      'rm'],
                            cwd : ['reload', 'back', '|',
                                   'mkdir', 'mkfile', 'paste', '|',
                                   'upload'],
                            files : ['edit', 'open', '|',
                                     'copy', 'cut', 'paste', '|',
                                     'rm', 'rename']
                          }
        }).elfinder('instance');            
        });
    </script>
    {% endblock elfinder_init %}

    {% block elfinder_div %}
    <div id="elfinder"></div>
    {% endblock elfinder_div %}
  </body>
</html>
